/* You can add global styles to this file, and also import other style files */

/* Fix Electron frameless window borders */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Important for frameless electron to avoid scrollbars causing border issues */
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
