@import './styles/themes.css';
@import './styles/layout.css';
@import './styles/menus-titlebar.css';
@import './styles/video-controls.css';
@import './styles/history.css';
@import './styles/status-logs.css';

/* Global Custom Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-button);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-button-hover);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-button) transparent;
}
